flows_myThinkpad.json
[{"id":"653056db.ecb158","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"918f817d.1a4ea","type":"ui_tab","z":"","name":"dsfsdfsdf","icon":"dashboard"},{"id":"e8217355.64d1a","type":"ui_group","z":"","name":"sadsadsad","tab":"918f817d.1a4ea","disp":true,"width":"6","collapse":false},{"id":"131c3d1b.82f89b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"882fee12.c31ab","type":"ui_tab","z":"","name":"Homesadadsa","icon":"dashboard"},{"id":"a0e0ec48.eaaae","type":"ui_group","z":"","name":"Defaultasdsad","tab":"882fee12.c31ab","disp":true,"width":"6","collapse":false},{"id":"61a72e29.1c286","type":"ui_gauge","z":"653056db.ecb158","name":"","group":"a0e0ec48.eaaae","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":200,"wires":[]},{"id":"f2d76a39.8cbaa8","type":"ui_button","z":"653056db.ecb158","name":"","group":"e8217355.64d1a","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":100,"wires":[[]]},{"id":"2493f27c.7007de","type":"ui_slider","z":"653056db.ecb158","name":"","label":"slider","group":"e8217355.64d1a","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":10,"step":1,"x":470,"y":300,"wires":[["61a72e29.1c286"]]}]